/* Artfully masterminded by ZURB  */

/* -------------------------------------------------- 
   Table of Contents
-----------------------------------------------------
:: Shared Styles
:: Welcome
:: Page Name 2
*/


/* -----------------------------------------
   Shared Styles
----------------------------------------- */



/* -----------------------------------------
   Welcome
----------------------------------------- */

#overlay {
	background-color: #000000;
	text-align: center;
	font-size: 150px;
	padding: 100px;
	color: white;
	font-family: 'Pirata One', cursive;
}

a.button { 
width: 251px; 
height:42px; 
display: inline-block; 
} 

/* Google Maps */

#map_canvas { height: 100% }


/* -----------------------------------------
   Page Name 2
----------------------------------------- */


